* {margin: 0; padding: 0;} 
body {
    font-family: "Inconsolata", monospace;
    font-size: .8em;
    color: #000000;
    line-height: 1.1em;
    text-align: left;
    text-transform: capitalize;
    background-image:url(backg.jpg);
    background-color: rgb(158, 58, 0);
    background-repeat: repeat-y;
}

#wrapper
{
    width: 90%;
    margin: auto;
}
*{
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    color: rgb(0, 0, 0);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}

div#bio
*{
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}

Nav {
    padding-top: 3em;
    text-align: right;
    line-height: 1em;
    width: 30%;
    text-decoration: underline;
    text-decoration-thickness:0.1em;
    color: rgb(0, 0, 0);
}
a {
    box-sizing: border-box;
    padding: 20px;
}
h1{
    font-size: 5.6em;
    color: black;
    text-transform:lowercase;
    text-decoration-thickness: 3%;
    padding: 15px 0px 5px 0px ;
    text-align: left;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
      }
      
h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
    text-decoration: underline;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px ;
    line-height: 1em;
}
h5{
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    line-height: 1em;
}

footer{
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}

header{
font-size: 1em;
color: black;
text-transform: uppercase;
width: 100%;
height: 100%;
padding: 100%;
margin: 100%;
overflow: auto;
position: fixed;
display: inline;



}
p{
width: 31%;
height: auto;
text-align: justify;
}

a:link{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: rgb(213, 47, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(191, 201, 0);
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 3%;
}
a:active{
    color: green;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 3%;
}
ul#mainNav li{
    display: inline; 
    text-align: right;
}
ul {
    list-style-type: none;
}

ol {
    list-style-type: square;
}

img {
    object-position: 100%;
    height: auto;
    width: 60%;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;

}
 
#container {
	width: 100%;
	height: 100%;
	position: relative;
}
 
 
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
 
.columns {float: left;}
.col-1 {width: 30%;}
.col-2 {width: 40%;}
.col-3 {width: 30%;}