p{
    font-family:'Times New Roman', Times, serif;
}

h1{
    font-size: 8em ;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

h2{
    font-size: 2em ;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

h3{
    font-size: 3em;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

h4{
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
}

image-container1 {
    background-size: cover;
    text-align: top left;
    line-height: 300px; 
    position: top right; 
}
/*
image-container2 {
    background-image: url('The magic forest.jpg');
    background-size:cover;
    text-align: top left;
    line-height: 300px; 
    color: rgb(0, 0, 0); 
    position: top right; 
}


.overlay-text-nav {
    position:absolute;
    top: 5%;
    left: 24%;
    transform: translate(-50%, -50%); /* centers the text 
}
.overlay-text {
    position:absolute;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);/* centers the text
    
}

/* @media only screen and (max-width: 600px) {
    .overlay-text {
    top: 30%;
    left: 30%;
    font-size: 1em;
    transform: translate(-50%, -50%); 
    }
} 


.overlay-text2 {
    position: absolute;
    top: 53%;
    left: 72%;
    transform: translate(-50%, -50%); 
}

.overlay-text3 {
    position: absolute;
    top: 130%;
    left: 80%;
    transform: translate(-80%, -50%); 

.overlay-text4 {
    position: absolute;
    top: 153%;
    left: 73%;
    transform: translate(-80%, -50%); 
}
.overlay-text5 {
    position: absolute;
    top: 252%;
    left: 52.5%;
    transform: translate(-80%, -50%); 
}
.overlay-text6 {
    position: absolute;
    top: 260%;
    left: 55%;
    transform: translate(-80%, -50%); 
}
.overlay-text7 {
    position: absolute;
    top: 275%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 420px;
    padding-left: 5px;
}

.overlay-text8 {
    position: absolute;
    top: 300%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 455px;
    padding-left: 5px;
}

.overlay-text9 {
    position: absolute;
    top: 320%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 300px;
    padding-left: 5px;
}

.overlay-text10 {
    position: absolute;
    top: 338%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 200px;
    padding-left: 5px;
}
.overlay-text11 {
    position: absolute;
    top: 358%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 450px;
    padding-left: 5px;
}
.overlay-text12 {
    position: absolute;
    top: 380%;
    left: 69%;
    transform: translate(-80%, -50%); 
}
.overlay-text13 {
    position: absolute;
    top: 405%;
    left: 60%;
    transform: translate(-80%, -50%); 
}
.overlay-text14 {
    position: absolute;
    top: 426%;
    left: 48%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
}
.overlay-text15 {
    position: absolute;
    top: 444%;
    left: 48%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
}

.overlay-text16 {
    position: absolute;
    top: 570%;
    left: 80%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
} */


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.intro-text {
    top: 10%;
    right: 10%;
}

.overlay-text1 {
    top: 20%;
    left: 30%;
    padding-right: 120px;
    padding-left: 5px;
}

.overlay-text2 {
    top: 27%;
    left: 40%;
}

.overlay-text3 {
  left: 65%; 
  width: 30%;

}

.overlay-text4 {
    width: 40%;
    left: 55%;
}

img{
    width: 100%;
}

  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 100%;
      max-width: none; }
    }

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding-left: 4em;
    padding-top: 10rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.63em;
    color: black;
}
:active{
    color: black;
}

  
