p{
    font-family:'Times New Roman', Times, serif;
}

h1{
   /* font-size: 7em ;*/
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 7em ;
}

h2{
    font-size: 2em ;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

h3{
    font-size: 3.5em;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

h4{
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
}

h5{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.6em;
    color: beige;
}

h6{
    font-family:"Caveat", cursive;
    font-size: 1.4em;
}


image-container1 {
    background-size: cover;
    text-align: top left;
    line-height: 300px; 
    position: top right; 
}

@media screen and (max-width: 550px) {
    .image-container1 {
        width: 100%;
        height: auto; 
        max-width: 100%;
    }

    img.u-full-width{
        width: 100%;
        height: auto; 
        display: block;
    }

    .intro-nav {
        font-size: 0.1em;
        width: 100%;
        right: 10%;
    }
    
    p{
        font-size: 0.2em;
    }
    

    h1{
        font-size: 2em;
    }

    h2 {
        font-size:1em ;
    }

    h3{
        font-size: 1em;
    }

    h4
    {
        font-size: 0.5em;
    }

    h5
    {
        font-size: 0.5em;
    }
}
/*
image-container2 {
    background-image: url('The magic forest.jpg');
    background-size:cover;
    text-align: top left;
    line-height: 300px; 
    color: rgb(0, 0, 0); 
    position: top right; 
}


.overlay-text-nav {
    position:absolute;
    top: 5%;
    left: 24%;
    transform: translate(-50%, -50%); /* centers the text 
}
.overlay-text {
    position:absolute;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);/* centers the text
    
}

/* @media only screen and (max-width: 600px) {
    .overlay-text {
    top: 30%;
    left: 30%;
    font-size: 1em;
    transform: translate(-50%, -50%); 
    }
} 


.overlay-text2 {
    position: absolute;
    top: 53%;
    left: 72%;
    transform: translate(-50%, -50%); 
}

.overlay-text3 {
    position: absolute;
    top: 130%;
    left: 80%;
    transform: translate(-80%, -50%); 

.overlay-text4 {
    position: absolute;
    top: 153%;
    left: 73%;
    transform: translate(-80%, -50%); 
}
.overlay-text5 {
    position: absolute;
    top: 252%;
    left: 52.5%;
    transform: translate(-80%, -50%); 
}
.overlay-text6 {
    position: absolute;
    top: 260%;
    left: 55%;
    transform: translate(-80%, -50%); 
}
.overlay-text7 {
    position: absolute;
    top: 275%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 420px;
    padding-left: 5px;
}

.overlay-text8 {
    position: absolute;
    top: 300%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 455px;
    padding-left: 5px;
}

.overlay-text9 {
    position: absolute;
    top: 320%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 300px;
    padding-left: 5px;
}

.overlay-text10 {
    position: absolute;
    top: 338%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 200px;
    padding-left: 5px;
}
.overlay-text11 {
    position: absolute;
    top: 358%;
    left: 46%;
    transform: translate(-80%, -50%); 
    padding-right: 450px;
    padding-left: 5px;
}
.overlay-text12 {
    position: absolute;
    top: 380%;
    left: 69%;
    transform: translate(-80%, -50%); 
}
.overlay-text13 {
    position: absolute;
    top: 405%;
    left: 60%;
    transform: translate(-80%, -50%); 
}
.overlay-text14 {
    position: absolute;
    top: 426%;
    left: 48%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
}
.overlay-text15 {
    position: absolute;
    top: 444%;
    left: 48%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
}

.overlay-text16 {
    position: absolute;
    top: 570%;
    left: 80%;
    padding-right: 240px;
    padding-left: 5px;
    transform: translate(-80%, -50%); 
} */


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.intro-nav {
    top: 3%;
    right: 55%;
    z-index: 20;
}
.intro-title {
    top: 7%;
    right: 7%;
    z-index: 20;
}

.intro-author {
    top: 30%;
    right: 7%;
    z-index: 20;
}

.intro-text{
    top: 8%;
    right: 7%;
    z-index: 20;
}

.overlay-text1 {
    top: 20%;
    left: 30%;
    padding-right: 120px;
    padding-left: 5px;
    z-index: 20;
}

.overlay-text2 {
    top: 30%;
    left: 40%;
    z-index: 20;
}

.overlay-text3 {
  left: 65%; 
  width: 30%;
  z-index: 20;

}

.overlay-text4 {
    width: 40%;
    left: 55%;
    z-index: 20;
}
.page-title{
    top: 3%;
    right: 23%;
    z-index: 20;
    width: 50%;
    text-align: center;
}

.page-title2{
    top: 6%;
    right: 24%;
    z-index: 20;
    width: 100%;
    text-align: center;
}


.chapter1-text1{
    top: 17%;
    right: 72%;
    z-index: 20;
    width: 25%;
}

.chapter1-text2{
    top: 30%;
    right: 75%;
    z-index: 20;
    width: 22%;
}

.chapter1-text3{
    top: 48%;
    right: 65%;
    z-index: 20;
    width: 32%;
}

.chapter1-text4{
    top: 60%;
    right: 47%;
    z-index: 20;
    width: 50%;
}

.chapter1-text5{
    top: 75%;
    right: 79%;
    z-index: 20;
    width: 18%;
}

.chapter1-text6{
    top: 83%;
    right: 20%;
    z-index: 20;
    width: 90%;
}

.chapter1-text7{
    top: 0%;
    right: 28%;
    z-index: 20;
    width: 100%;
}

.chapter1-text8{
    top: 85%;
    right: 45%;
    z-index: 20;
    width: 100%;
}

.chapter1-text9{
    top: 16%;
    right: 35%;
    z-index: 20;
    width: 100%;
}

.page-title{
    top: 3%;
    right: 23%;
    z-index: 20;
    width: 50%;
    text-align: center;
}

.chapter2-text1{
    top: 4%;
    right: 19%;
    z-index: 20;
    width: 100%;
}

.chapter2-text2{
    top: 8%;
    right: 31.5%;
    z-index: 20;
    width: 100%;
    text-align: center;
}

.chapter2-text3{
    top: 28%;
    right: 50%;
    z-index: 20;
    width: 100%;
}

.chapter2-text4{
    top: 32%;
    right: 42%;
    z-index: 20;
    width: 100%;
}

.chapter2-text5{
    top: 40%;
    right: 62%;
    z-index: 20;
    width: 100%;
}

.chapter2-text6{
    top: 52%;
    right: 42%;
    z-index: 20;
    width: 100%;
}

.chapter2-text7{
    top: 56%;
    right: 32%;
    z-index: 20;
    width: 100%;
}

.chapter2-text8{
    top: 65%;
    right: 62%;
    z-index: 20;
    width: 100%;
}

.chapter2-text9{
    top: 77%;
    right: 30%;
    z-index: 20;
    width: 100%;
}
.chapter2-text10{
    top: 80%;
    right: 25%;
    z-index: 20;
    width: 100%;
}

.chapter2-text11{
    top: 87%;
    right: 45%;
    z-index: 20;
    width: 100%;
}

.chapter2-text12{
    top: 97%;
    right: 16%;
    z-index: 20;
    width: 100%;
}

.chapter2-text13{
    top: 16%;
    right: 20%;
    z-index: 20;
    width: 100%;
}

.chapter2-text14{
    top: 28%;
    right: 35%;
    z-index: 20;
    width: 100%;
}

.chapter2-text15{
    top: 38%;
    right: 48%;
    z-index: 20;
    width: 100%;
}

.chapter2-text16{
    top: 45%;
    right: 66%;
    z-index: 20;
    width: 70%;
}

.chapter2-text17{
    top: 74%;
    right: 0%;
    z-index: 20;
    width: 100%;
}

.chapter2-text18{
    top: 80%;
    right: 5%;
    z-index: 20;
    width: 100%;
}

.chapter2-text19{
    top: 0%;
    right: 42%;
    z-index: 20;
    width: 100%;
}

.chapter2-text20{
    top: 5%;
    right: 46%;
    z-index: 20;
    width: 80%;
}

.chapter2-text21{
    top: 18%;
    right: 31%;
    z-index: 20;
    width: 80%;
}

.chapter2-text22{
    top: 45%;
    right: 15%;
    z-index: 20;
    width: 80%;
}

.chapter2-text23{
    top: 72%;
    right: 35%;
    z-index: 20;
    width: 80%;
    text-align: center;
}


.chapter2-text24{
    top: 78%;
    right: 31%;
    z-index: 20;
    width: 100%;
    text-align: center;
}

.chapter3-text1{
    top: 0%;
    right: 0%;
    left: 1%;
    z-index: 20;
    width: 100%;
    text-align: center;
    color: beige;
}

.chapter3-text2{
    top: 14%;
    right: 34%;
    z-index: 20;
    width: 30%;
    text-align: center;
    color: beige;
    
}

.chapter3-text3{
    top: 29%;
    right: 41%;
    z-index: 20;
    width: 15%;
    text-align: center;
    color: beige;
    
}

.chapter3-text4{
    top: 8%;
    right: 62%;
    z-index: 20;
    width: 28%;
    text-align: center;
    
}

.chapter3-text5{
    top: 72%;
    right: 62%;
    z-index: 20;
    width: 28%;
    text-align: center;
    
}

.chapter3-text6{
    top: 95%;
    right: 62%;
    z-index: 20;
    width: 28%;
    text-align: center;
    
}

.chapter3-text7{
    top: 32%;
    right: 15%;
    z-index: 20;
    width: 70%;
    text-align: center;
    
}

.chapter3-text8{
    top: 41%;
    right: 10%;
    z-index: 20;
    width: 40%;
    text-align: center;
    
}

.chapter3-text9{
    top: 51%;
    right: 10%;
    z-index: 20;
    width: 40%;
    text-align: center; 
}

.chapter4-text1{
    top: 26%;
    right: 17.5%;
    z-index: 20;
    width: 36%;
    text-align: center; 
}

.chapter4-text2{
    top: 36%;
    right: 17.5%;
    z-index: 20;
    width: 36%;
    text-align: center; 
}

.chapter4-text2{
    top: 96%;
    right: 4.5%;
    z-index: 20;
    width: 33%;
    text-align: center; 
}

.chapter4-text3{
    top: 25%;
    right: 6%;
    z-index: 20;
    width: 33%;
    text-align: center; 
}

.chapter4-text4{
    top: 37%;
    right: 68%;
    z-index: 20;
    width: 33%;
    text-align: center; 
}

.chapter4-text5{
    top: 41%;
    right: 51%;
    z-index: 20;
    width: 33%;
    text-align: center; 
}

.chapter4-text6{
    top: 50%;
    right: 19%;
    z-index: 20;
    width: 44%;
    text-align: center; 
}

.chapter4-text7{
    top: 67.5%;
    right: 50%;
    z-index: 20;
    width: 33%;
    text-align: center; 
}

.chapter4-text8{
    top: 88%;
    right: 26%;
    z-index: 20;
    width: 16%;
    text-align: center; 
}
.chapter4-text9{
    top: 101%;
    right: 10%;
    z-index: 20;
    width: 80%;
    text-align: center; 
}

.chapter4-text10{
    top: 15%;
    right: 10%;
    z-index: 20;
    width: 30%;
    text-align: center; 
}

.chapter4-text11{
    top: 37%;
    right: 20%;
    z-index: 20;
    width: 30%;
    text-align: center; 
}

.chapter4-text12{
    top: 47%;
    right: 30%;
    z-index: 20;
    width: 35%;
    text-align: center; 
}

.chapter4-text13{
    top: 59%;
    right: 40%;
    z-index: 20;
    width: 30%;
    text-align: center; 
}

.chapter4-text14{
    top: 85%;
    right: 66%;
    z-index: 20;
    width: 30%;
    text-align: center; 
}

.chapter4-text15{
    top: 100%;
    right: 54.5%;
    z-index: 20;
    width: 50%;
    text-align: center; 
}

.chapter4-text16{
    top: 18%;
    right: 57%;
    z-index: 20;
    width: 50%;
    text-align: center; 
}

.chapter4-text17{
    top: 35%;
    right: 64.5%;
    z-index: 20;
    width: 30%;
    text-align: left; 
}

.chapter4-text18{
    top: 55%;
    right: 60%;
    z-index: 20;
    width: 30%;
    text-align: left; 
}

.chapter4-text19{
    top: 90%;
    right: 24%;
    z-index: 20;
    width: 50%;
    text-align: center; 
}


img.u-full-width{
    width: 100%;
    position: relative;
     z-index: 1;
    }

  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 100%;
      max-width: none; }
    }

ul{
    list-style-type: none;
    text-align: left;
}

li{
    display: inline;
    padding-right: 8.5em;
    left:10% ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.63em;
    color: black;
}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(24, 177, 146);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(18, 133, 12);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(213, 213, 13);
    background-color: transparent;
    text-decoration: underline;
  }
  

@keyframes theboat {
    0% {right: 0px; opacity: 0;}
    10% {opacity: 1;}
    30% {opacity: 1;}
    45% {opacity: 0;}
    100% {right: 400px; opacity: 0;}
    
}

img#theboat {
    display: block;
    opacity: 0;
    width: 80px;
    height: auto;
    position: absolute;
    top: 45%;
    right: 20%;
    z-index: 10;
    
    animation-name: theboat;
    animation-delay: 2s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@media (max-width: 550px) {
    img#theboat {
      width: 25px ;
      height: auto ;

      top: 45% ;  /* Optional position adjustment */
      right: 10% ; /* Optional position adjustment */
      animation-name: theboat;
      animation-delay: 0s;
      animation-duration: 40s;
      animation-iteration-count: infinite;
    }
  }

/*#image-wrapper {
    position: relative;       
    display: inline-block;    
    cursor: pointer;
    width: 100px; 
    height: 100px;
  }
  
  #textbubble {
    position: absolute;
    top: 19%;     
    right: 35%;    
    transition: opacity 1s ease;
    pointer-events: none;  
    width: 300px;  
    height: auto;
    z-index: 20;   
  }*/
  
 /* .image-wrapper:hover #textbubble {
    opacity: 1;    
  }
  
.hover-area {
    width: 200px;  
    height: 200px; 
  }

  
  .hover-area:hover #textbubble {
    opacity: 1;
  }

img#textbubble {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    width: 200px;
    height: auto;
    z-index: 10;
    pointer-events: none; 
}
    

@media only screen and (max-width: 1000px) {
    
    img#theboat img#textbubble {
        
        visibility: hidden;
        
    }
    
}
  
#textbubble,
.textbubble {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 250px ;
  height: auto;
  opacity: 0;
  transition: opacity 3.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.danger-wrapper:hover #textbubble,
.danger-wrapper:hover .textbubble {
  opacity: 1;
}

.danger-wrapper {
    position: relative;
    display: block;
    width: 100%;
  } */

.danger-wrapper {
    position: relative;
}

#textbubble1 {
    position: absolute;
    top: 67%;
    left: 46%;
    width: 15%;
    height: auto;
    opacity: 1;
    transition: all 0.6s ease-in-out;
    z-index: 20;
    pointer-events: none;
}

.danger-wrapper:hover #textbubble1 {
    width: 35%;
    opacity: 1;
    pointer-events: auto;
}


#textbubble2 {
    position: absolute;
    top: 16%;
    left: 46%;
    width: 15%;
    height: auto;
    opacity: 1;
    transition: all 0.6s ease-in-out;
    z-index: 20;
    pointer-events: none;
}

.danger-wrapper:hover #textbubble2 {
    width: 35%;
    opacity: 1;
    pointer-events: auto;
}
